$body-color: #000;
$secondary: #573cff;
$input-border-radius: 25px;
$btn-border-radius-lg: 25px;
$btn-font-size-lg: 10px;
$defaultBackground: #f2f2f2;
$input-bg: $defaultBackground;
$input-border-color: $defaultBackground;

@import '../node_modules/bootstrap/scss/bootstrap';

  
  span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  
  label, input{
    display: block;
  }
  

  .cent{
      margin: auto;

      p{
          width: 308px;
          margin: auto;
      }
  }

  .errorPage{
      width: 100%;
      text-align: center;
  }

  .uploadLab{
      text-align: center;
  }
  
  .restartBtn{
      margin-top: 20px
  }

  .cssSelector{
      margin-top: 190px;
      text-align: right;
      font-size: 15px;
      cursor: pointer;
  }

  .colourBtns{
      margin: auto;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .MuiPaper-root{
    background-color: #181818 !important;
  }
  

  .shareLink{
      margin-top:20px;
      text-align: center;
  }
  
  .container{
    max-width: 605px;
    height: 100%;
    padding-top: 7%;
  }

  .leftCard{
    width: 585px;
    height: 343px;
    font-size: 30px;
    color: #fff;
    background-size: cover;

    .fullname{
        padding-top:10px
    }
    p{
          margin-bottom: 0px;
          padding-left:10px;
      }
      strong{
        padding-left:10px;
      }
  }

  .rightCard{
    width: 585px;
    height: 343px;
    background-color: $defaultBackground;
    font-size: 20px;
    p{
        margin-bottom: 0px;
        padding-left:10px
    }
    a{
        padding: 0px;
        padding-left:10px;
        margin: 0px;
    }
    .fullname{
        font-size: 30px;
        padding-top: 10px;
    }

    .phone{
        margin-top: 2rem
    }

    .site{
        color: #000;
        display: block;
        margin-top: 4rem
    }
  }

  .cardContainer{
      padding-top: 18rem;
  }

  .hidden{
      display: none;
      text-align: center;
  }

  .success, .error{
      text-align: center;
      color: red;
  }

  